.window h2 {
	margin-left: 20px;
}

#verilog pre {
	height: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 40px;
	padding-right: 40px;
	-webkit-tab-size: 4;
	-moz-tab-size: 4;
	-ms-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	margin-left: 10px;
	margin-right: 10px;
}

#verilog {
	height: calc(100vh - 173px);
}

#paper:focus{
  outline:none;
}

#paper {
	margin-right: -500px;
    overflow: hidden;
	position: relative;
	background-color: rgba(0, 0, 0, 0);
}

#next-state {
	margin-left: 10px;
	margin-right: 10px;
}

#next-state pre {
	overflow-x: hidden;
}

#paper-resize {
	height: 100%;
}

.html-element textarea {
   pointer-events: all;
}

#title-edit {
	font-size: 0.5em;
	vertical-align: middle;
	margin-left: 20px;
}

#dropdown-span {
	float: right;
	margin-right: 10px;
}