.title-text .jumbotron {
	text-align: center;
	padding: 11.5px;
	margin: 0;
	border-bottom: 1px solid lightgray;
}

.title-text h1 {
	padding: 0;
	margin: 0;
	font-size: 3.5em;
}

.title-text h3 {
	padding: 0;
	margin: 0;
	font-size: 1.5em;
}

.root {
    height: calc(100vh - 100px);
    width: 100vw;
	max-width: 100%;
}